@import 'src/styles/theme';

.row mat-form-field {
  margin-right: 8px;
}

.row mat-form-field:last-child {
  margin-right: 0;
}

.mat-form-field {
  width: 100%;
}

mat-icon {
  font-size: mat-font-size($kel-typography, body-1);
}

mat-form-field.ng-dirty {
  color: mat-color($kel-accent, 800);
}

.callsign {
  font-family: mat-font-family($kel-mono-typography);
}
