@use '@angular/material' as mat;
@use 'src/styles/theme';

mat-card {
  margin: 8px;
}

mat-card-header {
  flex-direction: row;
  display: flex;
  place-content: center;
  align-items: center;
  @media screen and (max-width: 959px) {
    flex-direction: column;
  }
}

.spacer {
  flex: 1 1 0;
}

.action-button-container {
  flex-direction: row;
  display: flex;
}

button {
  margin-left: 16px;
}

button.mat-mdc-menu-item {
  margin-left: 0;
}

button.newQso {
  width: 110px;
}

button.selectedButton {
  @media screen and (max-width: 599px) {
    display: none;
  }
}

table {
  width: 100%;
}

th.mat-mdc-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type,
td.mat-mdc-footer-cell:first-of-type {
  padding-left: 4px;
}

th.mat-mdc-header-cell:last-of-type,
td.mat-mdc-cell:last-of-type,
td.mat-mdc-footer-cell:last-of-type {
  padding-right: 4px;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell {
  padding-left: 2px;
  padding-right: 2px;
}

.mat-column-select {
  overflow: initial;
}

.mat-mdc-row {
  &:hover {
    background-color: mat.m2-get-color-from-palette(
      theme.$kel-background,
      hover
    );
  }
}

.timeOn {
  width: 128px;
}

.callsign {
  @include mat.m2-typography-level(theme.$kel-mono-typography, body-2);
  font-weight: bold;
}

.band {
  font-size: mat.m2-font-size(theme.$kel-mono-typography, caption);
}

.band-2200m {
  background-color: #ff4500 !important;
  color: black !important;
}

.band-600m {
  background-color: #1e90ff !important;
  color: black !important;
}

.band-160m {
  background-color: #7cfc00 !important;
  color: black !important;
}

.band-80m {
  background-color: #e550e5 !important;
  color: black !important;
}

.band-60m {
  background-color: #00008b !important;
  color: white !important;
}

.band-40m {
  background-color: #5959ff !important;
  color: white !important;
}

.band-30m {
  background-color: #62d962 !important;
  color: black !important;
}

.band-20m {
  background-color: #f2c40c !important;
  color: black !important;
}

.band-17m {
  background-color: #f2f261 !important;
  color: black !important;
}

.band-15m {
  background-color: #cca166 !important;
  color: black !important;
}

.band-12m {
  background-color: #b22222 !important;
  color: white !important;
}

.band-10m {
  background-color: #ff69b4 !important;
  color: black !important;
}

.band-6m {
  background-color: #ff0000 !important;
  color: black !important;
}

.band-2m {
  background-color: #ff1493 !important;
  color: black !important;
}

.band-70cm {
  background-color: #999900 !important;
  color: white !important;
}

.freq {
  text-align: end;
  padding-right: 8px !important;
}

.flag {
  @include mat.m2-typography-level(theme.$kel-emoji-typography, body-2);
  text-shadow: 1px 1px #ccc;
}
