<mat-card appearance="outlined">
  <a #download hidden></a>
  <mat-card-header>
    <kel-qso-search></kel-qso-search>
    <div class="spacer"></div>
    <div class="action-button-container">
      <button
        class="newQso"
        mat-raised-button
        color="accent"
        (click)="newQso()"
      >
        New QSO
      </button>
      <button
        class="selectedButton"
        mat-button
        mat-raised-button
        #selectedButton
        disabled
        [matMenuTriggerFor]="selectedMenu"
      >
        Selected
        <mat-icon aria-hidden="false" aria-label="Actions for selected QSOs">
          expand_more
        </mat-icon>
      </button>
      <mat-menu xPosition="before" #selectedMenu="matMenu">
        <button mat-menu-item (click)="exportSelected()">
          <mat-icon>file_download</mat-icon>
          Export ADIF
        </button>
        <button mat-menu-item (click)="deleteSelected()">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table
      mat-table
      matSort
      matSortActive="timeOn"
      matSortDirection="desc"
      matSortDisableClear
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? mainToggle($event) : null"
            [checked]="selection.hasValue() && isEntirePageSelected()"
            [indeterminate]="selection.hasValue() && !isEntirePageSelected()"
            [aria-label]="checkboxLabel(null)"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="timeOn">
        <th mat-header-cell mat-sort-header start="desc" *matHeaderCellDef>
          Date/Time
        </th>
        <td mat-cell class="timeOn" *matCellDef="let fbq">
          {{ fbq.qso.timeOn | date: 'yyyy-MM-dd HH:mm' : 'UTC' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="shortTimeOn">
        <th mat-header-cell mat-sort-header start="desc" *matHeaderCellDef>
          Date
        </th>
        <td mat-cell *matCellDef="let fbq">
          {{ fbq.qso.timeOn | date: 'yyyy-MM-dd' : 'UTC' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="contactedCall">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Call</th>
        <td mat-cell class="callsign" *matCellDef="let fbq">
          {{ fbq.qso.contactedStation.stationCall }}
        </td>
      </ng-container>
      <ng-container matColumnDef="contactedName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td mat-cell class="contactedName" *matCellDef="let fbq">
          {{ fbq.qso.contactedStation.opName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="band">
        <th mat-header-cell *matHeaderCellDef>Band</th>
        <td mat-cell *matCellDef="let fbq">
          <mat-chip-set aria-label="Band">
            <mat-chip [class]="'band band-' + fbq.qso.band">
              {{ fbq.qso.band }}
            </mat-chip>
          </mat-chip-set>
        </td>
      </ng-container>
      <ng-container matColumnDef="freq">
        <th mat-header-cell *matHeaderCellDef>Freq</th>
        <td mat-cell class="freq" *matCellDef="let fbq">
          {{ fbq.qso.freq | number: '1.3-3' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="mode">
        <th mat-header-cell *matHeaderCellDef>Mode</th>
        <td mat-cell *matCellDef="let fbq">
          {{ fbq.qso.submode ? fbq.qso.submode : fbq.qso.mode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="rstSent">
        <th mat-header-cell *matHeaderCellDef>RST S</th>
        <td mat-cell *matCellDef="let fbq">{{ fbq.qso.rstSent }}</td>
      </ng-container>
      <ng-container matColumnDef="rstReceived">
        <th mat-header-cell *matHeaderCellDef>RST R</th>
        <td mat-cell *matCellDef="let fbq">{{ fbq.qso.rstReceived }}</td>
      </ng-container>
      <ng-container matColumnDef="contactedCity">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let fbq">
          {{ fbq.qso.contactedStation.city }}
        </td>
      </ng-container>
      <ng-container matColumnDef="contactedState">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>State</th>
        <td mat-cell class="contactedState" *matCellDef="let fbq">
          {{ fbq.qso.contactedStation.state }}
        </td>
      </ng-container>
      <ng-container matColumnDef="contactedCountry">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let fbq">
          <span class="flag">{{ flagFor(fbq.qso.contactedStation.dxcc) }}</span>
          {{ fbq.qso.contactedStation.country }}
        </td>
      </ng-container>
      <ng-container matColumnDef="shortContactedCountry">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Cntry</th>
        <td mat-cell *matCellDef="let fbq">
          <span class="flag">{{ flagFor(fbq.qso.contactedStation.dxcc) }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="qsl">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>QSL</th>
        <td mat-cell *matCellDef="let fbq">
          @if (fbq.qso.card && fbq.qso.card.receivedStatus === 'Y') {
            <span title="Paper card">C</span>
          }
          @if (fbq.qso.lotw && fbq.qso.lotw.receivedStatus === 'Y') {
            <span title="Logbook of the World">L</span>
          }
          @if (fbq.qso.eqsl && fbq.qso.eqsl.receivedStatus === 'Y') {
            <span title="eQSL.cc">E</span>
          }
          @if (
            fbq.qso.appDefined && fbq.qso.appDefined.app_qrzlog_status === 'C'
          ) {
            <span title="QRZ.com">Q</span>
          }
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        (click)="openDialog(fbq)"
        *matRowDef="let fbq; columns: columnsToDisplay"
      ></tr>
    </table>
    <mat-paginator></mat-paginator>
  </mat-card-content>
</mat-card>
