<div class="logbook-header">
  <h1>
    {{ logbookService.logbookId$ | async }}
    <span class="logbook-long-title">Logbook</span>
  </h1>
  <nav mat-tab-nav-bar backgroundColor="accent">
    @for (link of links; track link) {
      <a
        mat-tab-link
        class="logbook-tab"
        [routerLink]="link.path"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.name }}
      </a>
    }
  </nav>
  <div class="spacer"></div>
  <button
    mat-icon-button
    color="accent"
    aria-label="Logbook Menu"
    [matMenuTriggerFor]="logbookMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #logbookMenu="matMenu">
    <button mat-menu-item (click)="chooser.click()">
      <mat-icon>file_upload</mat-icon>
      Import ADIF file
    </button>
    <button mat-menu-item (click)="importFromQrz()">
      <mat-icon>cloud_upload</mat-icon>
      Import QRZ.com
    </button>
    <button mat-menu-item (click)="importFromLotw()">
      <mat-icon>cloud_upload</mat-icon>
      Import Logbook of the World
    </button>
    <button mat-menu-item (click)="exportAdi()">
      <mat-icon>file_download</mat-icon>
      Export ADIF file
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logbookSettings()">
      <mat-icon aria-hidden="false" aria-label="Settings"> settings</mat-icon>
      Logbook Settings
    </button>
  </mat-menu>
</div>
<input
  #chooser
  hidden
  type="file"
  accept=".adi,.adif"
  (change)="importAdi($event)"
/>
<a #download hidden></a>
<router-outlet></router-outlet>
