@use '@angular/material' as mat;
@import 'src/styles/theme';

.logbook-header {
  background-color: mat.m2-get-color-from-palette($kel-accent, 'default');
  display: flex;
  flex-direction: row;
}

h1 {
  color: mat.m2-get-color-from-palette($kel-primary, 'default-contrast');
  padding: 8px 24px;
  margin: 0;
}

.logbook-long-title {
  @media screen and (max-width: 959px) {
    display: none;
  }
}

.logbook-tab {
  background-color: mat.m2-get-color-from-palette($kel-accent, 'default');
  color: mat.m2-get-color-from-palette($kel-primary, 'default-contrast');
  font-size: mat.m2-font-size($kel-typography, subtitle-1);
}

.spacer {
  flex: 1 1 0;
}

mat-icon {
  color: mat.m2-get-color-from-palette($kel-primary, 'default-contrast');
}
