<mat-card>
  <mat-card-title>Forester Credits and License Information</mat-card-title>
  <mat-card-content>
    <p>
      Forester is open-source software and stands on the shoulders of giants!
      Many thanks to the contributors of this project, its peers and its
      dependencies.
    </p>

    <h3>Forester Contributors</h3>

    <ul>
      <li>Chris Keller, K0SWE</li>
    </ul>

    <h3>Image Assets</h3>

    <div>
      This site's logo and map pin icons were made by
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
        >Freepik</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>

    <h3>Open Source Licenses</h3>

    <table>
      <tr>
        <th>Dependency</th>
        <th>Version</th>
        <th>Author</th>
        <th>License</th>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular">@angular/animations</a>
        </td>
        <td>11.0.7</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/components">@angular/cdk</a>
        </td>
        <td>11.0.3</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular">@angular/common</a>
        </td>
        <td>11.0.7</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular">@angular/compiler</a>
        </td>
        <td>11.0.7</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular">@angular/core</a>
        </td>
        <td>11.0.7</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angularfire">@angular/fire</a>
        </td>
        <td>6.1.4</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/flex-layout"
            >@angular/flex-layout</a
          >
        </td>
        <td>10.0.0-beta.32</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular">@angular/forms</a>
        </td>
        <td>11.0.7</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/components"
            >@angular/google-maps</a
          >
        </td>
        <td>11.0.3</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular">@angular/localize</a>
        </td>
        <td>11.0.7</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/components">@angular/material</a>
        </td>
        <td>11.0.3</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular"
            >@angular/platform-browser</a
          >
        </td>
        <td>11.0.7</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular"
            >@angular/platform-browser-dynamic</a
          >
        </td>
        <td>11.0.7</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular">@angular/router</a>
        </td>
        <td>11.0.7</td>
        <td>angular</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/DefinitelyTyped/DefinitelyTyped"
            >@types/long</a
          >
        </td>
        <td>4.0.1</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/k0swe/adif-parser-ts">adif-parser-ts</a>
        </td>
        <td>0.3.12</td>
        <td>Chris Keller</td>
        <td>
          <a href="https://opensource.org/licenses/Apache-2.0">Apache-2.0</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/firebase/firebase-js-sdk">firebase</a>
        </td>
        <td>8.2.2</td>
        <td>Firebase</td>
        <td>
          <a href="https://opensource.org/licenses/Apache-2.0">Apache-2.0</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/protocolbuffers/protobuf/tree/master/js"
            >google-protobuf</a
          >
        </td>
        <td>3.14.0</td>
        <td>Google Protocol Buffers Team</td>
        <td>
          <a href="https://opensource.org/licenses/BSD-3-Clause"
            >BSD-3-Clause</a
          >
        </td>
      </tr>
      <tr>
        <td><a href="https://github.com/moment/moment">moment</a></td>
        <td>2.29.1</td>
        <td>Iskren Ivov Chernev</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/reactivex/rxjs">rxjs</a></td>
        <td>6.6.3</td>
        <td>Ben Lesh</td>
        <td>
          <a href="https://opensource.org/licenses/Apache-2.0">Apache-2.0</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/improbable-eng/ts-protoc-gen"
            >ts-protoc-gen</a
          >
        </td>
        <td>0.14.0</td>
        <td>Improbable</td>
        <td>
          <a href="https://opensource.org/licenses/Apache-2.0">Apache-2.0</a>
        </td>
      </tr>
      <tr>
        <td><a href="https://github.com/Microsoft/tslib">tslib</a></td>
        <td>2.1.0</td>
        <td>Microsoft Corp.</td>
        <td><a href="https://opensource.org/licenses/0BSD">0BSD</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/angular/angular">zone.js</a></td>
        <td>0.11.3</td>
        <td>Brian Ford</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular-cli"
            >@angular-devkit/architect</a
          >
        </td>
        <td>0.1100.6</td>
        <td>Angular Authors</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular-cli"
            >@angular-devkit/build-angular</a
          >
        </td>
        <td>0.1100.6</td>
        <td>Angular Authors</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular-cli">@angular/cli</a>
        </td>
        <td>11.0.6</td>
        <td>Angular Authors</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/angular">@angular/compiler-cli</a>
        </td>
        <td>11.0.7</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/firebase/firebase-js-sdk"
            >@firebase/testing</a
          >
        </td>
        <td>0.20.11</td>
        <td>Firebase</td>
        <td>
          <a href="https://opensource.org/licenses/Apache-2.0">Apache-2.0</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/DefinitelyTyped/DefinitelyTyped"
            >@types/jasmine</a
          >
        </td>
        <td>3.6.2</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/DefinitelyTyped/DefinitelyTyped"
            >@types/jasminewd2</a
          >
        </td>
        <td>2.0.8</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/DefinitelyTyped/DefinitelyTyped"
            >@types/node</a
          >
        </td>
        <td>14.14.20</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/mgechev/codelyzer">codelyzer</a>
        </td>
        <td>6.0.1</td>
        <td>Minko Gechev</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/firebase/firebase-tools"
            >firebase-tools</a
          >
        </td>
        <td>9.1.2</td>
        <td>Firebase</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/mattyork/fuzzy">fuzzy</a></td>
        <td>0.1.3</td>
        <td>Matt York</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/typicode/husky">husky</a></td>
        <td>4.3.7</td>
        <td>Typicode</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/SBoudrias/Inquirer.js">inquirer</a>
        </td>
        <td>7.3.3</td>
        <td>Simon Boudrias</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/mokkabonna/inquirer-autocomplete-prompt"
            >inquirer-autocomplete-prompt</a
          >
        </td>
        <td>1.3.0</td>
        <td>Martin Hansen</td>
        <td><a href="https://opensource.org/licenses/ISC">ISC</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/jasmine/jasmine">jasmine-core</a>
        </td>
        <td>3.6.0</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/bcaudan/jasmine-spec-reporter"
            >jasmine-spec-reporter</a
          >
        </td>
        <td>6.0.0</td>
        <td>Bastien Caudan</td>
        <td>
          <a href="https://opensource.org/licenses/Apache-2.0">Apache-2.0</a>
        </td>
      </tr>
      <tr>
        <td><a href="https://github.com/karma-runner/karma">karma</a></td>
        <td>5.2.3</td>
        <td>Vojta Jína</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/karma-runner/karma-chrome-launcher"
            >karma-chrome-launcher</a
          >
        </td>
        <td>3.1.0</td>
        <td>Vojta Jina</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a
            href="https://github.com/mattlewis92/karma-coverage-istanbul-reporter"
            >karma-coverage-istanbul-reporter</a
          >
        </td>
        <td>3.0.3</td>
        <td>Matt Lewis</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/karma-runner/karma-jasmine"
            >karma-jasmine</a
          >
        </td>
        <td>4.0.1</td>
        <td>Vojta Jina</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/dfederm/karma-jasmine-html-reporter"
            >karma-jasmine-html-reporter</a
          >
        </td>
        <td>1.5.4</td>
        <td>n/a</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/okonet/lint-staged">lint-staged</a>
        </td>
        <td>10.5.3</td>
        <td>Andrey Okonetchnikov</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/sindresorhus/open">open</a></td>
        <td>7.3.1</td>
        <td>Sindre Sorhus</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/prettier/prettier">prettier</a></td>
        <td>2.2.1</td>
        <td>James Long</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/angular/protractor">protractor</a>
        </td>
        <td>7.0.0</td>
        <td>Julie Ralph</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/TypeStrong/ts-node">ts-node</a></td>
        <td>9.1.1</td>
        <td>Blake Embrey</td>
        <td><a href="https://opensource.org/licenses/MIT">MIT</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/palantir/tslint">tslint</a></td>
        <td>6.1.3</td>
        <td>n/a</td>
        <td>
          <a href="https://opensource.org/licenses/Apache-2.0">Apache-2.0</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/Microsoft/TypeScript">typescript</a>
        </td>
        <td>4.0.5</td>
        <td>Microsoft Corp.</td>
        <td>
          <a href="https://opensource.org/licenses/Apache-2.0">Apache-2.0</a>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
