<div *ngIf="authService.user() | async as user; else showLogin">
  <button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <img [src]="user.photoURL" [alt]="user.displayName">
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="authService.logout()">Logout</button>
  </mat-menu>
</div>
<ng-template #showLogin>
  <button mat-icon-button [matMenuTriggerFor]="loginMenu">
    <mat-icon color="accent">person</mat-icon>
  </button>
  <mat-menu #loginMenu="matMenu">
    <button mat-menu-item (click)="authService.login()">Login with Google</button>
  </mat-menu>
</ng-template>
