@use '@angular/material' as mat;
@use 'src/styles/theme';

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row div {
  flex: 1 1 auto;
  margin-right: 8px;
}

.row div.callsign-container {
  flex: 1 1 15%;
}

.row div.name-container {
  flex: 1 1 30%;
}

.row div.lat-lon-container {
  flex: 1 1 20%;
}

.row div.grid-container {
  flex: 1 1 10%;
}

.row div:last-child {
  margin-right: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

mat-form-field.ng-dirty {
  color: mat.m2-get-color-from-palette(theme.$kel-accent, 900);
}

mat-card {
  border: 1px solid mat.m2-get-color-from-palette(theme.$kel-primary, A100);
  margin-bottom: 8px;
  margin-top: 8px;
}

input.callsign {
  @include mat.m2-typography-level(theme.$kel-mono-typography, body-1);
}

/* Chrome, Safari, Edge, Opera */
input.latLong::-webkit-outer-spin-button,
input.latLong::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.latLong {
  -moz-appearance: textfield;
}

a.mat-mdc-outlined-button {
  height: 36px;
  margin-top: 16px;
}
