<form [formGroup]="stationDetailForm" autocomplete="dummy">
  <div class="row">
    <div class="callsign-container">
      <mat-form-field>
        <mat-label>Callsign</mat-label>
        <input
          matInput
          class="callsign"
          formControlName="stationCall"
          autocapitalize="characters"
          autocomplete="dummy"
          spellcheck="false"
        />
      </mat-form-field>
    </div>
    <div class="name-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="opName"
          autocapitalize="words"
          autocomplete="dummy"
        />
      </mat-form-field>
    </div>
    <div class="lat-lon-container">
      <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input
          matInput
          class="latLong"
          formControlName="latitude"
          type="number"
          autocomplete="dummy"
          (paste)="pasteLatOrLon($event)"
        />
        <mat-hint>+N/-S</mat-hint>
      </mat-form-field>
    </div>
    <div class="lat-lon-container">
      <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input
          matInput
          class="latLong"
          formControlName="longitude"
          type="number"
          autocomplete="dummy"
          (paste)="pasteLatOrLon($event)"
        />
        <mat-hint>+E/-W</mat-hint>
      </mat-form-field>
    </div>
    <div class="grid-container">
      <mat-form-field>
        <mat-label>Grid</mat-label>
        <input
          matInput
          formControlName="gridSquare"
          autocapitalize="characters"
          autocomplete="dummy"
        />
      </mat-form-field>
    </div>
    <a
      mat-stroked-button
      [href]="mapLink"
      [disabled]="mapLink === null"
      target="map"
      color="primary"
    >
      Map
    </a>
  </div>

  <div class="row">
    <div>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input
          matInput
          formControlName="city"
          autocapitalize="words"
          autocomplete="dummy"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>County</mat-label>
        <input
          matInput
          formControlName="county"
          autocapitalize="characters"
          autocomplete="dummy"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>State/Province</mat-label>
        <input
          matInput
          formControlName="state"
          autocapitalize="characters"
          autocomplete="dummy"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input
          matInput
          formControlName="country"
          autocapitalize="words"
          autocomplete="dummy"
          [matAutocomplete]="countryAutocomplete"
        />
        <mat-autocomplete #countryAutocomplete="matAutocomplete">
          @for (c of filteredCountries$ | async; track c) {
            <mat-option [value]="c">
              {{ c }}
            </mat-option>
          }
        </mat-autocomplete>
        <span matSuffix [title]="stationDetailForm.get('dxcc').value">
          {{ flag }}
        </span>
      </mat-form-field>
      <input type="hidden" formControlName="dxcc" />
    </div>
    <div>
      <mat-form-field>
        <mat-label>Continent</mat-label>
        <mat-select formControlName="continent">
          <mat-option value="">(not set)</mat-option>
          <mat-option value="NA">North America</mat-option>
          <mat-option value="SA">South America</mat-option>
          <mat-option value="EU">Europe</mat-option>
          <mat-option value="AF">Africa</mat-option>
          <mat-option value="OC">Oceana</mat-option>
          <mat-option value="AS">Asia</mat-option>
          <mat-option value="AN">Antarctica</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <a mat-stroked-button color="primary" (click)="geocode()">Geocode</a>
  </div>

  @if (showRig || showTxPower) {
    <div class="row">
      <div>
        @if (showRig) {
          <mat-form-field>
            <mat-label>Rig</mat-label>
            <input
              matInput
              formControlName="rig"
              autocapitalize="words"
              autocomplete="dummy"
            />
          </mat-form-field>
        }
      </div>
      <div>
        @if (showRig) {
          <mat-form-field>
            <mat-label>Antenna</mat-label>
            <input
              matInput
              formControlName="antenna"
              autocapitalize="words"
              autocomplete="dummy"
            />
          </mat-form-field>
        }
      </div>
      <div>
        @if (showTxPower) {
          <mat-form-field>
            <mat-label>TX Power</mat-label>
            <input
              matInput
              formControlName="power"
              type="number"
              autocomplete="dummy"
            />
            <span matSuffix>W</span>
          </mat-form-field>
        }
      </div>
    </div>
  }
  <mat-error>
    @if (stationDetailForm.errors?.locationInconsistent) {
      <span> Latitude and longitude are not within the grid </span>
    }
  </mat-error>
</form>
