@use '@angular/material' as mat;

$kel-primary: mat.define-palette(mat.$green-palette, 700, 300, 900);
$kel-accent: mat.define-palette(mat.$deep-purple-palette);
$kel-typography: mat.define-typography-config(
  $font-family: 'Open Sans, Helvetica Neue, sans-serif',
);

$kel-theme: mat.define-light-theme(
  (
    color: (
      primary: $kel-primary,
      accent: $kel-accent,
    ),
    typography: $kel-typography,
  )
);

$kel-background: map-get($kel-theme, background);
$kel-foreground: map-get($kel-theme, foreground);

$kel-mono-typography: mat.define-typography-config(
  $font-family: 'DM Mono, monospace',
);

$kel-serif-typography: mat.define-typography-config(
  $font-family: 'Tinos, Times New Roman, serif',
);

$kel-emoji-typography: mat.define-typography-config(
  $font-family: 'Apple Color Emoji, Noto Colr Emoji Glyf',
);
