@use '@angular/material' as mat;
@use './theme';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(theme.$kel-typography);`
@include mat.all-component-typographies(theme.$kel-typography);
@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes(theme.$kel-theme);

// Global styles.
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  color: #212121;
  background-color: #f3f3f3;
  font-family: mat.m2-font-family(theme.$kel-typography);
  line-height: mat.m2-line-height(theme.$kel-typography, body-1);
  font-size: mat.m2-font-size(theme.$kel-typography, body-1);
  height: 100%;
  margin: 0;
  overflow: hidden;
}
