<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Call</th>
    <th>Name</th>
    <th>Band</th>
    <th>Frequency</th>
    <th>Mode</th>
    <th>RST Sent</th>
    <th>RST Rec.</th>
    <th>QTH</th>
    <th>State</th>
    <th>Country</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let qso of qsos$ | async">
    <td>{{qso.getTimeOn() | date : "yyyy-MM-dd" : "UTC"}}</td>
    <td>{{qso.getTimeOn() | date : "HH:mm" : "UTC"}}</td>
    <td>{{qso.contactedStation.opCall}}</td>
    <td>{{qso.contactedStation.opName | titlecase}}</td>
    <td>{{qso.band | lowercase}}</td>
    <td>{{qso.freq}}</td>
    <td>{{qso.mode | uppercase}}</td>
    <td>{{qso.rstSent}}</td>
    <td>{{qso.rstReceived}}</td>
    <td>{{qso.contactedStation.city | titlecase}}</td>
    <td>{{qso.contactedStation.state | uppercase}}</td>
    <td>{{qso.contactedStation.country | titlecase}}</td>
  </tr>
  </tbody>
</table>
