<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Call</th>
    <th>Name</th>
    <th>Band</th>
    <th>Frequency</th>
    <th>Mode</th>
    <th>RST Sent</th>
    <th>RST Rec.</th>
    <th>QTH</th>
    <th>State</th>
    <th>Country</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let qso of qsos">
    <td>{{qso.timeOff | date : "yyyyMMdd" : "UTC"}}</td>
    <td>{{qso.timeOff | date : "HHmm" : "UTC"}}</td>
    <td>{{qso.dxCall}}</td>
    <td>{{qso.name}}</td>
    <td>{{qso.band}}</td>
    <td>{{qso.frequencyHz/1000000}}</td>
    <td>{{qso.mode}}</td>
    <td>{{qso.rstSent}}</td>
    <td>{{qso.rstReceived}}</td>
    <td>{{qso.qth}}</td>
    <td>{{qso.state}}</td>
    <td>{{qso.country}}</td>
  </tr>
  </tbody>
</table>
