@import '../../styles/theme';

mat-card {
  margin: 8px;
}

mat-form-field {
  width: 100%;
}

input.callsign {
  font-family: mat-font-family($kel-mono-typography);
}

.criteria {
  padding-right: 8px;
}
