<mat-card>
  <mat-card-title>Filter</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="standard">
      <mat-label>Call</mat-label>
      <input matInput class="callsign" type="text" [(ngModel)]="callsign" (ngModelChange)="changed()"
             [value]="callsign.toUpperCase()">
      <button mat-button *ngIf="callsign" matSuffix mat-icon-button aria-label="Clear" (click)="callsign=''; changed()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
</mat-card>
