<mat-card>
  <mat-card-title>Filter</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="standard">
      <mat-label>Call</mat-label>
      <input matInput class="callsign" type="text" [(ngModel)]="callsign" (ngModelChange)="changed()"
             [value]="callsign.toUpperCase()">
      <button mat-button *ngIf="callsign" (click)="callsign=''; changed()"
              matSuffix mat-icon-button aria-label="Clear" color="accent">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div fxLayout="row">
      <mat-form-field appearance="standard" fxFlex="20%" class="criteria">
        <mat-select [(ngModel)]="stateOp" (ngModelChange)="changed()" aria-label="State operator">
          <mat-option value="equal">=</mat-option>
          <mat-option value="not_equal">≠</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard" fxFlex="80%">
        <mat-label>State</mat-label>
        <input matInput type="text" [(ngModel)]="state" (ngModelChange)="changed()">
        <button mat-button *ngIf="state" (click)="state=''; changed()"
                matSuffix mat-icon-button aria-label="Clear" color="accent">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field appearance="standard" fxFlex="20%" class="criteria">
        <mat-select [(ngModel)]="countryOp" (ngModelChange)="changed()" aria-label="Country operator">
          <mat-option value="equal">=</mat-option>
          <mat-option value="not_equal">≠</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard" fxFlex="80%">
        <mat-label>Country</mat-label>
        <input matInput type="text" [(ngModel)]="country" (ngModelChange)="changed()">
        <button mat-button *ngIf="country" (click)="country=''; changed()"
                matSuffix mat-icon-button aria-label="Clear" color="accent">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field appearance="standard" fxFlex="20%" class="criteria">
        <mat-select [(ngModel)]="modeOp" (ngModelChange)="changed()" aria-label="Mode operator">
          <mat-option value="equal">=</mat-option>
          <mat-option value="not_equal">≠</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard" fxFlex="80%">
        <mat-label>Mode</mat-label>
        <input matInput type="text" [(ngModel)]="mode" (ngModelChange)="changed()">
        <button mat-button *ngIf="mode" (click)="mode=''; changed()"
                matSuffix mat-icon-button aria-label="Clear" color="accent">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row">
    <div fxFlex="100%"></div>
    <button mat-mini-fab color="accent" aria-label="Clear All Filters" title="Clear All Filters"
            (click)="clearAll()">
      <mat-icon>clear_all</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
