.container {
  display: flex;
  justify-content: center;
}

mat-card {
  flex: 1 1 0;
  margin: 8px;
  max-width: 400px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 16px;
}

img.logo {
  height: 38px;
}
