@use '@angular/material' as mat;
@import 'src/styles/theme';

:host {
  width: 100%;
}

mat-form-field {
  width: 100%;
  max-width: 800px;
  margin-right: 16px;
}

.accent {
  color: mat.m2-get-color-from-palette($kel-accent, 800);
}
