<mat-form-field appearance="outline" color="accent">
  <mat-icon matPrefix>search</mat-icon>
  <mat-label>Search QSOs</mat-label>
  <input
    matInput
    [(ngModel)]="search"
    (ngModelChange)="changed()"
    [disabled]="syncToggle.checked"
    [ngClass]="{ accent: syncToggle.checked }"
  />
  @if (search != '' && !syncToggle.checked) {
    <button mat-icon-button matSuffix (click)="clear()">
      <mat-icon color="accent">clear</mat-icon>
    </button>
  }
  <mat-hint>Callsign only for now</mat-hint>
</mat-form-field>

<mat-slide-toggle
  #syncToggle
  [(ngModel)]="syncWithWsjtx"
  (change)="toggleSync($event)"
  [disabled]="!(wsjtx.connected$ | async)"
>
  Sync with WSJT-X
</mat-slide-toggle>
