@import '~@angular/material/theming';

$kel-primary: mat-palette($mat-green, 700, 300, 900);
$kel-accent: mat-palette($mat-deep-purple);
$kel-theme: mat-light-theme(
  (
    color: (
      primary: $kel-primary,
      accent: $kel-accent,
    ),
  )
);

$kel-background: map-get($kel-theme, background);
$kel-foreground: map-get($kel-theme, foreground);

$kel-typography: mat-typography-config(
  $font-family: 'Open Sans, Helvetica Neue, sans-serif',
  $body-2: mat-typography-level(inherit, inherit, 600),
);

$kel-mono-typography: mat-typography-config(
  $font-family: 'DM Mono, monospace',
  $body-2: mat-typography-level(inherit, inherit, 600),
);
