@if (agent.connectedState$ | async) {
  <div class="outside">
    @if (wsjtx.heartbeat$ | async; as heartbeat) {
      <div class="inside">
        {{ heartbeat.id }} {{ heartbeat.version }}
      </div>
    }
    @if (hamlib.rigState$ | async; as rigState) {
      <div class="inside">
        {{ rigState.model }} <br />
        @if (rigState.frequency / 1000 > 2000) {
          <span>
            {{ rigState.frequency / 1000000 | number: '1.3-3' }} MHz
          </span>
        } @else {
          {{ rigState.frequency / 1000 | number: '1.2-2' }} kHz
        }
        {{ rigState.mode }}
      </div>
    }
    <mat-icon
      class="inside"
      [matTooltip]="'Connected to agent on ' + agent.getHost()"
      >
      radio
    </mat-icon>
  </div>
} @else {
  <div class="outside">
    <mat-icon
      class="inside"
      matTooltip="Agent disconnected"
      (click)="reconnect()"
      >
      signal_cellular_off
    </mat-icon>
  </div>
}
