<div *ngIf="agent.connectedState$ | async; else notConnected" class="outside">
  <div class="inside" *ngIf="wsjtx.heartbeat$ | async as heartbeat">
    {{ heartbeat.id }} {{ heartbeat.version }}
  </div>
  <div class="inside" *ngIf="hamlib.rigState$ | async as rigState">
    {{ rigState.model }} <br />
    <span *ngIf="rigState.frequency / 1000 > 2000; else khz">
      {{ rigState.frequency / 1000000 | number: '1.3-3' }} MHz
    </span>
    <ng-template #khz>
      {{ rigState.frequency / 1000 | number: '1.2-2' }} kHz
    </ng-template>
    {{ rigState.mode }}
  </div>
  <mat-icon
    class="inside"
    [matTooltip]="'Connected to agent on ' + agent.getHost()"
  >
    radio
  </mat-icon>
</div>
<ng-template #notConnected>
  <div class="outside">
    <mat-icon
      class="inside"
      matTooltip="Agent disconnected"
      (click)="reconnect()"
    >
      signal_cellular_off
    </mat-icon>
  </div>
</ng-template>
