@use '@angular/material' as mat;
@import 'src/styles/theme';

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row mat-form-field {
  flex: 1 1 auto;
  margin-right: 8px;
}

.row mat-form-field:last-child {
  margin-right: 0;
}

mat-form-field.ng-dirty {
  color: mat.m2-get-color-from-palette($kel-accent, 800);
}

mat-card {
  border: 1px solid mat.m2-get-color-from-palette($kel-primary, A100);
  margin-bottom: 8px;
  margin-top: 8px;
}

h3 {
  margin: 16px 0 0 8px;
}
