@use '@angular/material' as mat;
@use 'src/styles/theme';

mat-card {
  margin: 8px auto;
  max-width: 700px;
}

.app-name {
  font-style: italic;
}

blockquote {
  @include mat.m2-typography-level(theme.$kel-serif-typography, subtitle-1);
  background-color: ivory;
  border-radius: 6px;
  border: 1px solid lightgray;
  color: black;
  //font-weight: bold;
  padding: 8px;
}

mat-icon {
  display: inline;
  font-size: inherit;
}
