<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Welcome to Forester!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <blockquote>
      <a href="https://www.merriam-webster.com/dictionary/forester">
        for·est·er <mat-icon>open_in_new</mat-icon>
      </a>
      \ ˈfȯr-ə-stər \:<br />
      <ol>
        <li>a person trained in forestry, the management of growing timber</li>
        <li>an inhabitant of a forest</li>
      </ol>
    </blockquote>
    <p>
      <span class="mat-body-strong">Forester</span> will help you get your
      amateur radio contact logs under control, and will let you sustainably
      grow and use them for years to come.
    </p>

    <p>
      Forester can connect to WSJT-X (and in the future, rig control software)
      using
      <a href="https://github.com/k0swe/kel-agent/releases/latest">
        kel-agent
        <mat-icon>open_in_new</mat-icon> </a
      >.
    </p>
  </mat-card-content>
</mat-card>

<kel-login
  *ngIf="(user(this.auth) | async) === null; else loggedIn"
></kel-login>

<ng-template #loggedIn>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Your Starred Logbooks</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        *ngFor="
          let star of (userSettingsService.settings$ | async).starredLogbooks
        "
        [routerLink]="'/' + star + '/qsos'"
      >
        {{ star }}
      </button>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" (click)="createLogbook()">
        Create New Logbook
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
