mat-card {
  margin: 8px auto;
  max-width: 700px;
}

blockquote {
  background-color: var(--mat-sys-tertiary-container);
  color: var(--mat-sys-on-tertiary-container);
  border-radius: 6px;
  padding: 8px;
}

mat-icon {
  display: inline;
  font-size: inherit;
}
