<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Privacy Policy and Terms Of Use</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>
        <a
          href="https://app.termly.io/document/privacy-policy/481946de-fdb7-4349-bbd2-ee59b8371894"
          target="_blank"
        >
          Privacy Policy
          <mat-icon>open_in_new</mat-icon>
        </a>
      </li>
      <li>
        <a
          href="https://app.termly.io/document/terms-of-use-for-website/c7a51214-2237-4f0c-818d-915ab807099f"
          target="_blank"
        >
          Terms Of Use
          <mat-icon>open_in_new</mat-icon>
        </a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
