@if (user$ | async; as user) {
  <div>
    <button
      class="avatar"
      mat-icon-button
      [matMenuTriggerFor]="accountMenu"
      aria-label="User Menu"
    >
      @if (user.photoURL) {
        <img
          class="avatar"
          [ngSrc]="user.photoURL"
          width="40"
          height="40"
          [alt]="user.displayName"
        />
      } @else {
        <div
          class="avatar-letter"
          [attr.aria-label]="user.displayName || user.email"
        >
          {{ (user.displayName || user.email || "?")[0] | uppercase }}
        </div>
      }
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item disabled>{{ user.email }}</button>
      <button mat-menu-item (click)="userSettings()">
        <mat-icon>settings</mat-icon>
        User Settings
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
} @else {
  <button
    mat-icon-button
    [matMenuTriggerFor]="loginMenu"
    aria-label="User Menu"
  >
    <mat-icon class="anonymous">person</mat-icon>
  </button>
  <mat-menu #loginMenu="matMenu">
    <div mat-menu-item routerLink="/login">Log In</div>
  </mat-menu>
}
