@if (user$ | async; as user) {
  <div>
    <button
      class="avatar"
      mat-icon-button
      [matMenuTriggerFor]="accountMenu"
      aria-label="User Menu"
    >
      <img class="avatar" [src]="user.photoURL" [alt]="user.displayName" />
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item disabled>{{ user.email }}</button>
      <button mat-menu-item (click)="userSettings()">
        <mat-icon>settings</mat-icon>
        User Settings
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
} @else {
  <button
    mat-icon-button
    [matMenuTriggerFor]="loginMenu"
    aria-label="User Menu"
  >
    <mat-icon class="anonymous">person</mat-icon>
  </button>
  <mat-menu #loginMenu="matMenu">
    <div mat-menu-item routerLink="/login">Log In</div>
  </mat-menu>
}
