<div *ngIf="user$ | async as user; else showLogin">
  <button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <img class="avatar" [src]="user.photoURL" [alt]="user.displayName" />
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item disabled>{{ user.email }}</button>
    <button mat-menu-item (click)="userSettings()">User Settings</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</div>
<ng-template #showLogin>
  <button mat-icon-button [matMenuTriggerFor]="loginMenu">
    <mat-icon color="accent">person</mat-icon>
  </button>
  <mat-menu #loginMenu="matMenu">
    <button mat-menu-item (click)="login()">
      <img
        class="vertical-middle"
        src="/assets/btn_google_light_normal_ios.svg"
        alt="Sign in with Google"
      />
      <span class="vertical-middle">Sign in with Google</span>
    </button>
  </mat-menu>
</ng-template>
