<mat-toolbar class="toolbar">
  <button
    class="toolbar__menu-button"
    mat-icon-button
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img class="logo" src="assets/pine-tree.svg" />
  <h1 class="app-title mat-display-1">Forester</h1>
  <p class="app-subtitle mat-subheading-2" fxHide.lt-md>
    sustainably manage your ham radio logs
  </p>
  <div fxFlex></div>
  <kel-agent></kel-agent>
  <kel-avatar></kel-avatar>
</mat-toolbar>
<mat-sidenav-container class="page">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="(logbookId$ | async) + '/qsos'"
        (click)="sidenav.close()"
        >QSO List</a
      >
      <a
        mat-list-item
        [routerLink]="(logbookId$ | async) + '/was'"
        (click)="sidenav.close()"
        >WAS Progress</a
      >
      <mat-divider></mat-divider>
      <a
        mat-list-item
        [disabled]="qrzImportUrl == null"
        (click)="importFromQrz(); sidenav.close()"
      >
        Import QRZ.com
      </a>
      <a
        mat-list-item
        [disabled]="lotwImportUrl == null"
        (click)="importFromLotw(); sidenav.close()"
      >
        Import Logbook of the World
      </a>
      <a mat-list-item (click)="chooser.click(); sidenav.close()"
        >Import ADIF file</a
      >
      <a mat-list-item (click)="exportAdi(); sidenav.close()"
        >Export ADIF file</a
      >
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/credits'" (click)="sidenav.close()"
        >Credits</a
      >
    </mat-nav-list>
    <input
      #chooser
      hidden
      type="file"
      accept=".adi,.adif"
      (change)="importAdi($event)"
    />
    <a #download hidden></a>
  </mat-sidenav>
  <mat-sidenav-container class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
