@import '../styles/theme';

:host {
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  width: 100%;
}

.toolbar {
  background-color: mat-color($k0s-primary, 'default');
  color: mat-color($k0s-primary, 'default-contrast');
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 1px mat-color($k0s-foreground, divider);
}

.toolbar__menu-button {
  background-color: mat-color($k0s-primary, 'default');
  color: mat-color($k0s-primary, 'default-contrast');
  margin-right: 8px;
}

.page {
  width: 100%;
}

.content {
  width: 100%;
}
