<mat-toolbar class="toolbar">
  <button
    class="toolbar__menu-button"
    mat-icon-button
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <img class="logo" src="assets/pine-tree.svg" />
  <h1 class="app-title mat-display-1">Forester</h1>
  <p class="app-subtitle mat-subheading-2" fxHide.lt-md>
    sustainably manage your ham radio logs
  </p>
  <div fxFlex></div>
  <kel-agent></kel-agent>
  <kel-avatar></kel-avatar>
</mat-toolbar>
<mat-sidenav-container class="page">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-list-item disabled>Logbooks</mat-list-item>
      <a mat-list-item [routerLink]="'/K0SWE/qsos'" (click)="sidenav.close()"
        >K0SWE</a
      >
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/credits'" (click)="sidenav.close()"
        >Credits</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-container class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
