<mat-toolbar class="toolbar">
  <button class="toolbar__menu-button" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>KelLog</h1>
  <div fxFlex></div>
  <kel-agent></kel-agent>
  <kel-avatar></kel-avatar>
</mat-toolbar>
<mat-sidenav-container class="page">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'">QSO List</a>
      <a mat-list-item [routerLink]="'/was'">WAS Progress</a>
      <a mat-list-item [disabled]="qrzImportUrl==null" (click)="importFromQrz()">Import QRZ.com</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-container class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
