<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>ARRL Worked All States Progress</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <google-map
      #map
      width="100%"
      height="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
    >
    </google-map>
  </mat-card-content>
</mat-card>
<div #filterSelectors>
  <mat-card appearance="outlined">
    <mat-card-content class="controls">
      <mat-form-field color="accent" subscriptSizing="dynamic">
        <mat-label>Mode</mat-label>
        <mat-select [(value)]="mode" (valueChange)="changeFilters()">
          <mat-option value="mixed">Mixed</mat-option>
          <mat-option value="phone">Phone</mat-option>
          <mat-option value="cw">CW</mat-option>
          <mat-option value="digital">Digital</mat-option>
          <mat-option value="rtty">RTTY</mat-option>
          <mat-option value="satellite">Satellite</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" subscriptSizing="dynamic">
        <mat-label>Band</mat-label>
        <mat-select [(value)]="band" (valueChange)="changeFilters()">
          <mat-option value="mixed">Mixed</mat-option>
          <mat-option value="160m">160m</mat-option>
          <mat-option value="80m">80m</mat-option>
          <mat-option value="40m">40m</mat-option>
          <mat-option value="30m">30m</mat-option>
          <mat-option value="20m">20m</mat-option>
          <mat-option value="17m">17m</mat-option>
          <mat-option value="15m">15m</mat-option>
          <mat-option value="12m">12m</mat-option>
          <mat-option value="10m">10m</mat-option>
          <mat-option value="6m">6m</mat-option>
          <mat-option value="2m">2m</mat-option>
          <mat-option value="1.25m">1.25m</mat-option>
          <mat-option value="70cm">70cm</mat-option>
          <mat-option value="23cm">23cm</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
