@import 'src/styles/theme';

mat-card {
  margin: 8px;
  height: calc(100% - 96px);
}

mat-form-field {
  padding-right: 8px;
}

mat-card-content {
  height: calc(100% - 96px);
  border: 1px solid gray;
}
