@import 'src/styles/theme';

mat-card {
  margin: 8px;
  height: calc(100% - 64px);
}

mat-form-field {
  width: 100px;
}

mat-form-field:not(:last-child) {
  padding-right: 8px;
}

mat-card-content {
  height: calc(100% - 30px);
}

google-map {
  color: black;
}

.controls {
  padding: 8px;
}
