div.top {
  align-items: center;
  display: flex;
  flex-direction: row;
  place-content: center;
}

mat-icon,
button {
  margin-right: 16px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  flex: 1 1 auto;
}

mat-icon.inner {
  margin-right: 0;
}
