@use '@angular/material' as mat;
@use 'src/styles/theme';

div.row,
mat-dialog-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row div {
  flex: 1 1 auto;
  margin-right: 8px;
}

.row div:last-child {
  margin-right: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

.band {
  min-width: 5em;
}

input.ng-dirty {
  color: mat.m2-get-color-from-palette(theme.$kel-accent, 900) !important;
}

mat-card {
  border: 1px solid mat.m2-get-color-from-palette(theme.$kel-primary, A100);
  margin-bottom: 8px;
  margin-top: 8px;
}

input.callsign {
  font-family: mat.m2-font-family(theme.$kel-mono-typography);
}

/* Chrome, Safari, Edge, Opera */
input.freq::-webkit-outer-spin-button,
input.freq::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.freq {
  -moz-appearance: textfield;
}

a.mat-mdc-outlined-button {
  margin-top: 16px;
}

.spacer {
  flex: 1 1 auto;
}
