<!--suppress HtmlFormInputWithoutLabel -->
<h2 mat-dialog-title>QSO Details</h2>
<mat-dialog-content>
  <form [formGroup]="qsoDetailForm" autocomplete="dummy">
    <div class="row">
      <div>
        <mat-form-field>
          <mat-label>Date/Time On</mat-label>
          <input matInput formControlName="timeOn" />
          <mat-hint>UTC</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Date/Time Off</mat-label>
          <input matInput formControlName="timeOff" />
          <mat-hint>UTC</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="band">
        <mat-form-field>
          <mat-label>Band</mat-label>
          <mat-select formControlName="band" value="10m">
            @for (band of bands; track band) {
              <mat-option [value]="band">
                {{ band }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Frequency</mat-label>
          <input matInput class="freq" formControlName="freq" type="number" />
          <span matSuffix>MHz</span>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Mode</mat-label>
          <input
            matInput
            formControlName="mode"
            [matAutocomplete]="modeAutocomplete"
          />
          <mat-autocomplete #modeAutocomplete="matAutocomplete">
            @for (m of filteredModes$ | async; track m) {
              <mat-option [value]="m">
                {{ m }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>RST Sent</mat-label>
          <input matInput formControlName="rstSent" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>RST Received</mat-label>
          <input matInput formControlName="rstReceived" />
        </mat-form-field>
      </div>
    </div>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-subtitle>Contacted Station</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <kel-station-detail
          [(station)]="contactedStation"
          (stationChange)="enableSaveButton()"
          [showRig]="false"
          [showTxPower]="false"
        ></kel-station-detail>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-subtitle>Logging Station</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <kel-station-detail
          [(station)]="loggingStation"
          (stationChange)="enableSaveButton()"
        ></kel-station-detail>
      </mat-card-content>
    </mat-card>

    <div class="row">
      <div>
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Notes</mat-label>
          <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div [hidden]="startDelete">
    <button mat-raised-button (click)="startDelete = true">Delete</button>
  </div>
  <div [hidden]="!startDelete">
    <button mat-raised-button color="primary" (click)="startDelete = false">
      Cancel
    </button>
    <button mat-raised-button color="warn" (click)="delete()">Delete</button>
  </div>
  <div class="spacer"></div>
  <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="accent"
    #saveButton
    disabled
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
