@import '../../styles/theme';

.row mat-form-field {
  margin-right: 8px;
}

.row mat-form-field:last-child {
  margin-right: 0;
}

.mat-form-field {
  width: 100%;
}

.callsign {
  font-family: mat-font-family($kel-mono-typography);
}
