<h2 mat-dialog-title>Logbook Settings</h2>
<mat-dialog-content>
  These values are stored encrypted on the server and will not be displayed
  here.
  <form [formGroup]="logbookSettingsForm">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>QRZ.com Logbook API Key</mat-label>
        <input
          matInput
          placeholder="ABCD-1234-EFGH-5678"
          formControlName="qrzLogbookApiKey"
        />
      </mat-form-field>
    </div>
    <div fxLayout="row" class="row">
      <mat-form-field fxFlex appearance="standard">
        <mat-label>LotW Username</mat-label>
        <input matInput formControlName="lotwUser" />
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>LotW Password</mat-label>
        <input matInput type="password" formControlName="lotwPass" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="accent"
    disabled
    #saveButton
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
