@use '@angular/material' as mat;
@import 'src/styles/theme';

.row mat-form-field {
  margin-right: 8px;
}

.row mat-form-field:last-child {
  margin-right: 0;
}

.mat-form-field {
  width: 100%;
}

:host ::ng-deep .mat-form-field-infix {
  width: auto !important;
}

mat-form-field.ng-dirty {
  color: mat.get-color-from-palette($kel-accent, 800);
}

mat-card {
  border: 1px solid mat.get-color-from-palette($kel-primary, A100);
  margin-bottom: 8px;
  margin-top: 8px;
}

h3 {
  margin: 16px 0 0 8px;
}
