@use '~@angular/material' as mat;
@import 'src/styles/theme';

.row mat-form-field {
  margin-right: 8px;
}

.row mat-form-field:last-child {
  margin-right: 0;
}

.mat-form-field {
  width: 100%;
}

mat-form-field.ng-dirty {
  color: mat.get-color-from-palette($kel-accent, 800);
}
