@use '@angular/material' as mat;
@import 'src/styles/theme';

mat-card {
  margin: 8px auto;
  max-width: 700px;
}

.app-name {
  font-style: italic;
}

blockquote {
  font-family: mat.font-family($kel-serif-typography);
  font-size: mat.font-size($kel-serif-typography, subheading-2);
  font-weight: mat.font-weight($kel-serif-typography, subheading-2);
  background-color: ivory;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 8px;
}

mat-icon {
  display: inline;
  font-size: inherit;
}
