<mat-sidenav-container>
  <mat-sidenav
    #drawer
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [class.sidenav-fixed]="isSidenavFixed$ | async"
  >
    <div class="sidenav-inner">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <h3>Starred Logbooks</h3>
        @for (
          star of (userSettingsService.settings$ | async)?.starredLogbooks;
          track star
        ) {
          <a mat-list-item [routerLink]="'/' + star + '/qsos'">
            <div>
              <mat-icon>menu_book</mat-icon>
              <span class="callsign">{{ star }}</span>
            </div>
          </a>
        }
        <div class="spacer"></div>
        <app-theme-toggle />
        <a mat-list-item [routerLink]="'/credits'">
          <div>
            <mat-icon>attribution</mat-icon>
            <span>Credits</span>
          </div>
        </a>
        <a mat-list-item [routerLink]="'/privacy-and-terms'">
          <div>
            <mat-icon>gavel</mat-icon>
            <span>Privacy & Terms</span>
          </div>
        </a>
        <a
          mat-list-item
          href="https://github.com/k0swe/forester/issues"
          target="_blank"
        >
          <div>
            <mat-icon>bug_report</mat-icon>
            <span>
              Issues &nbsp;
              <mat-icon>open_in_new</mat-icon>
            </span>
          </div>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

      <a routerLink="/">
        <img
          class="logo"
          ngSrc="/pine-tree.svg"
          alt="Forester Logo"
          height="56"
          width="56"
        />
      </a>
      <div>
        <span class="app-title"><a routerLink="/">Forester</a></span>
        <span class="app-subtitle">sustainably manage your ham radio logs</span>
      </div>
      <div class="spacer"></div>
      <!-- TODO: kel-agent -->
      <!-- TODO: updater -->
      <app-avatar />
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
