@use "@angular/material" as mat;

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
  border-right: none;
}

mat-sidenav.sidenav-fixed {
  border-top-right-radius: 0;
}

.sidenav-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-inner h3 {
  margin: 8px 8px 8px 16px;
}

.sidenav-inner mat-nav-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

mat-nav-list a[mat-list-item] div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-nav-list a[mat-list-item] div mat-icon {
  color: var(--mat-sys-on-secondary-container);
  flex: 1 1 0;
}

mat-nav-list a[mat-list-item] div span {
  flex: 4 1 0;
  display: flex;
  flex-direction: row;
}

span mat-icon {
  font-size: inherit;
  line-height: inherit;
}

div.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

mat-icon {
  color: var(--mat-sys-on-primary);
}

.logo {
  height: 64px;
  margin-right: 16px;
}

.app-title {
  color: var(--mat-sys-on-primary);
  font-size: var(--mat-sys-headline-large-size);
  margin-right: 16px;

  a {
    color: var(--mat-sys-on-primary);
    text-decoration: none;
  }
}

.app-subtitle {
  font-size: var(--mat-sys-title-medium-size);
  line-height: var(--mat-sys-body-medium-line-height);
  @media screen and (max-width: 959px) {
    display: none;
  }
}
