<mat-sidenav-container>
  <mat-sidenav
    #drawer
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="sidenav-inner">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <!-- TODO: Logbooks -->
        <div class="spacer"></div>
        <a mat-list-item [routerLink]="'/credits'">
          <div>
            <mat-icon>attribution</mat-icon>
            <span>Credits</span>
          </div>
        </a>
        <a mat-list-item [routerLink]="'/privacy-and-terms'">
          <div>
            <mat-icon>gavel</mat-icon>
            <span>Privacy & Terms</span>
          </div>
        </a>
        <a
          mat-list-item
          href="https://github.com/k0swe/forester/issues"
          target="_blank"
        >
          <div>
            <mat-icon>bug_report</mat-icon>
            <span
              >Bugs Reports and <br />
              Feature Requests</span
            >
          </div>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

      <img
        class="logo"
        ngSrc="/pine-tree.svg"
        alt="Forester Logo"
        height="56"
        width="56"
      />
      <div>
        <span class="app-title">Forester</span>
        <span class="app-subtitle">sustainably manage your ham radio logs</span>
      </div>
      <div class="spacer"></div>
      <!-- TODO: kel-agent -->
      <!-- TODO: updater -->
      <!-- TODO: avatar -->
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
