@use '@angular/material' as mat;
@use 'src/styles/theme';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.toolbar {
  background-color: mat.m2-get-color-from-palette(
    theme.$kel-primary,
    'default'
  );
  color: mat.m2-get-color-from-palette(theme.$kel-primary, 'default-contrast');
  z-index: 2;
  box-shadow: 0 1px
    mat.m2-get-color-from-palette(theme.$kel-foreground, divider);
  display: flex;
}

.logo {
  width: 56px;
  margin-right: 16px;
}

a.app-title {
  display: contents;
  text-decoration: none;

  :hover {
    text-decoration: none;
  }

  :visited {
    text-decoration: none;
  }
}

h1.app-title {
  background-color: mat.m2-get-color-from-palette(
    theme.$kel-primary,
    'default'
  );
  color: mat.m2-get-color-from-palette(theme.$kel-primary, 'default-contrast');
  margin: 0 0 0 0;
}

.app-subtitle {
  @include mat.m2-typography-level(theme.$kel-typography, subtitle-1);
  background-color: mat.m2-get-color-from-palette(
    theme.$kel-primary,
    'default'
  );
  color: mat.m2-get-color-from-palette(theme.$kel-primary, 'default-contrast');
  margin: 16px 0 0 16px;
  @media screen and (max-width: 959px) {
    display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

.toolbar__menu-button {
  background-color: mat.m2-get-color-from-palette(
    theme.$kel-primary,
    'default'
  );
  color: mat.m2-get-color-from-palette(theme.$kel-primary, 'default-contrast');
  margin-right: 8px;
}

.page {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}
