<mat-button-toggle-group [value]="theme" (change)="setTheme($event.value)">
  <mat-button-toggle
    value="light"
    aria-label="Light theme"
    matTooltip="Light theme"
  >
    <mat-icon>light_mode</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    value="system"
    aria-label="System theme"
    matTooltip="System theme"
  >
    <mat-icon>settings_brightness</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    value="dark"
    aria-label="Dark theme"
    matTooltip="Dark theme"
  >
    <mat-icon>dark_mode</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
