@import '../../styles/theme';

.row {
  margin-bottom: 8px;
}

.row div {
  margin-right: 8px;
}

.row div:last-child {
  margin-right: 0;
}

.mat-form-field {
  width: 100%;
}

:host ::ng-deep .mat-form-field-infix {
  width: auto !important;
}

input.callsign {
  font-family: mat-font-family($kel-mono-typography);
}

/* Chrome, Safari, Edge, Opera */
input.freq::-webkit-outer-spin-button,
input.freq::-webkit-inner-spin-button,
input.latlong::-webkit-outer-spin-button,
input.latlong::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.freq, input.latlong {
  -moz-appearance: textfield;
}
