@import '../../styles/theme';

.row div {
  margin-right: 8px;
}

.row div:last-child {
  margin-right: 0;
}

.mat-form-field {
  width: 100%;
}

:host ::ng-deep .mat-form-field-infix {
  width: auto !important;
}

input.callsign {
  font-family: mat-font-family($kel-mono-typography);
}
