@import '../../styles/theme';

.row div {
  margin-right: 8px;
}

.row div:last-child {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

input.callsign {
  font-family: mat-font-family($kel-mono-typography);
}
