@import '../../styles/theme';

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

input.callsign {
  font-family: mat-font-family($kel-mono-typography);
}
