@use '@angular/material' as mat;
@use 'src/styles/theme';

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row mat-form-field {
  margin-right: 8px;
  flex: 1 1 auto;
}

.row mat-form-field:last-child {
  margin-right: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

mat-icon {
  display: inline;
  font-size: inherit;
}

mat-form-field.ng-dirty {
  color: mat.m2-get-color-from-palette(theme.$kel-accent, 800);
}

.callsign {
  @include mat.m2-typography-level(theme.$kel-mono-typography, body-1);
}
