<h2 mat-dialog-title>User Settings</h2>
<mat-dialog-content>
  <form [formGroup]="userSettingsForm">
    <div class="row">
      <mat-form-field>
        <mat-label>My Callsign</mat-label>
        <input
          matInput
          class="callsign"
          placeholder="N0CALL"
          formControlName="callsign"
        />
      </mat-form-field>
    </div>
    <div>
      Use
      <a href="https://github.com/k0swe/kel-agent/releases/latest">
        kel-agent
        <mat-icon>open_in_new</mat-icon>
      </a>
      to connect to ham software on your local machine.
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Agent Host</mat-label>
        <input matInput placeholder="localhost" formControlName="agentHost" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Agent Port</mat-label>
        <input
          matInput
          placeholder="8081"
          type="number"
          formControlName="agentPort"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="accent"
    disabled
    #saveButton
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
