<mat-card>
  <mat-card-title>Welcome to Forester!</mat-card-title>
  <mat-card-content>
    <blockquote>
      <a href="https://www.merriam-webster.com/dictionary/forester"
        >for·est·er</a
      >
      \ ˈfȯr-ə-stər \:<br />
      <ol>
        <li>a person trained in forestry, the management of growing timber</li>
        <li>an inhabitant of a forest</li>
      </ol>
    </blockquote>
    <span class="mat-body-strong">Forester</span> will help you get your amateur
    radio contact logs under control, and will let you sustainably grow and use
    them for years to come.
  </mat-card-content>
</mat-card>
