<div class="logbook-header" fxLayout="row">
  <h1>{{ logbookService.logbookId$ | async }} Logbook</h1>
  <nav mat-tab-nav-bar backgroundColor="accent">
    <a
      mat-tab-link
      *ngFor="let link of links"
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ link.name }}
    </a>
  </nav>
  <div fxFlex></div>
  <button
    mat-icon-button
    color="accent"
    aria-label="Logbook Menu"
    [matMenuTriggerFor]="logbookMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #logbookMenu="matMenu">
    <button mat-menu-item (click)="chooser.click()">Import ADIF file</button>
    <button mat-menu-item (click)="importFromQrz()">Import QRZ.com</button>
    <button mat-menu-item (click)="importFromLotw()">
      Import Logbook of the World
    </button>
    <button mat-menu-item (click)="exportAdi()">Export ADIF file</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logbookSettings()">Logbook Settings</button>
  </mat-menu>
</div>
<input
  #chooser
  hidden
  type="file"
  accept=".adi,.adif"
  (change)="importAdi($event)"
/>
<a #download hidden></a>
<router-outlet></router-outlet>
