@use '@angular/material' as mat;
@import 'src/styles/theme';

.logbook-header {
  background-color: mat.get-color-from-palette($kel-accent, 'default');
}

h1 {
  color: mat.get-color-from-palette($kel-primary, 'default-contrast');
  padding: 8px 24px;
  margin: 0;
}

.logbook-tab {
  background-color: mat.get-color-from-palette($kel-accent, 'default');
  color: mat.get-color-from-palette($kel-primary, 'default-contrast');
  font-size: mat.font-size($kel-typography, subheading-2);
}

mat-icon {
  color: mat.get-color-from-palette($kel-primary, 'default-contrast');
}
