<mat-card>
  <mat-card-content>
    <table mat-table
           matSort matSortActive="timeOn" matSortDirection="desc" matSortDisableClear
           [dataSource]="dataSource">
      <ng-container matColumnDef="timeOn">
        <th mat-header-cell mat-sort-header start="desc" *matHeaderCellDef>Date/Time</th>
        <td mat-cell *matCellDef="let qso">{{qso.timeOn | date : "yyyy-MM-dd HH:mm" : "UTC"}}</td>
      </ng-container>
      <ng-container matColumnDef="contactedCall">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Call</th>
        <td mat-cell class="callsign-column" *matCellDef="let qso">{{qso.contactedCall}}</td>
      </ng-container>
      <mat-text-column name="contactedName" headerText="Name"></mat-text-column>
      <mat-text-column name="band"></mat-text-column>
      <ng-container matColumnDef="freq">
        <th mat-header-cell *matHeaderCellDef>Freq</th>
        <td mat-cell class="freq-column" *matCellDef="let qso">{{qso.freq | number:'1.3-3'}}</td>
      </ng-container>
      <mat-text-column name="mode"></mat-text-column>
      <mat-text-column name="rstSent" headerText="RST S"></mat-text-column>
      <mat-text-column name="rstReceived" headerText="RST R"></mat-text-column>
      <mat-text-column name="contactedCity" headerText="City"></mat-text-column>
      <mat-text-column name="contactedState" headerText="State"></mat-text-column>
      <mat-text-column name="contactedCountry" headerText="Country"></mat-text-column>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row (click)="openDialog(qso)" *matRowDef="let qso; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator></mat-paginator>
  </mat-card-content>
</mat-card>
