@import '../../styles/theme';

mat-card {
  margin: 8px;
}

table {
  width: 100%;
}

.mat-row {

  &:hover {
    background-color: mat-color($kel-background, 'hover');
  }
}

.mat-column-contactedCall {
  font-weight: bold;
  font-family: "Source Code Variable", "Source Code Pro", monospace;
}

.mat-column-freq {
  text-align: end;
  padding-right: 4px;
}
