@import '../../styles/theme';

mat-card {
  margin: 8px;
}

button {
  margin-left: 16px;
}

table {
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

.mat-row {
  &:hover {
    background-color: mat-color($kel-background, hover);
  }
}

.callsign {
  font-weight: mat-font-weight($kel-mono-typography, body-2);
  font-family: mat-font-family($kel-mono-typography);
}

.mat-column-freq {
  text-align: end;
  padding-right: 8px;
}
