<mat-card>
  <mat-card-content>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Call</th>
        <th fxHide.lt-sm>Name</th>
        <th>Band</th>
        <th fxHide.lt-md>Frequency</th>
        <th>Mode</th>
        <th fxHide.lt-lg>RST Sent</th>
        <th fxHide.lt-lg>RST Rec.</th>
        <th fxHide.lt-md>QTH</th>
        <th fxHide.lt-sm>State</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let qso of qsos$ | async" class="qso-item">
        <td>{{qso.timeOn | date : "yyyy-MM-dd" : "UTC"}}</td>
        <td>{{qso.timeOn | date : "HH:mm" : "UTC"}}</td>
        <td class="callsign-column">{{qso.contactedCall}}</td>
        <td fxHide.lt-sm>{{qso.contactedName | titlecase}}</td>
        <td>{{qso.band | lowercase}}</td>
        <td fxHide.lt-md>{{qso.freq}}</td>
        <td>{{qso.mode | uppercase}}</td>
        <td fxHide.lt-lg>{{qso.rstSent}}</td>
        <td fxHide.lt-lg>{{qso.rstReceived}}</td>
        <td fxHide.lt-md>{{qso.contactedCity | titlecase}}</td>
        <td fxHide.lt-sm>{{qso.contactedState | uppercase}}</td>
        <td>{{qso.contactedCountry | titlecase}}</td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
