name: "{Reusable} Deploy Golang Functions"
on:
  workflow_call:
    secrets:
      GCP_SA_KEY:
        required: true

defaults:
  run:
    working-directory: functions/go-func/

jobs:
  test-go:
    uses: k0swe/forester/.github/workflows/test-func-go.yml@main

  deploy-golang-http:
    name: Deploy Golang HTTP
    runs-on: ubuntu-latest
    needs: test-go
    strategy:
      matrix:
        function-name: [ImportQrz, ImportLotw, UpdateSecret]
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: GCP Auth
        uses: google-github-actions/auth@v3
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - name: Cloud Functions Deploy
        uses: google-github-actions/deploy-cloud-functions@v4
        timeout-minutes: 10
        with:
          source_dir: functions/go-func/
          name: ${{ matrix.function-name }}
          entry_point: ${{ matrix.function-name }}
          # https://cloud.google.com/functions/docs/runtime-support#go
          runtime: go124
          environment_variables: GCP_PROJECT=k0swe-kellog

  deploy-golang-pubsub:
    runs-on: ubuntu-latest
    name: Deploy Golang PubSub
    needs: test-go
    strategy:
      matrix:
        function-spec:
          [
            {
              name: SyncNewQso,
              pubsub_topic: projects/k0swe-kellog/topics/contact-created,
            },
          ]
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: GCP Auth
        uses: google-github-actions/auth@v3
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - name: Cloud Functions Deploy
        uses: google-github-actions/deploy-cloud-functions@v4
        timeout-minutes: 10
        with:
          source_dir: functions/go-func/
          name: ${{ matrix.function-spec.name }}
          entry_point: ${{ matrix.function-spec.name }}
          event_trigger_type: google.cloud.pubsub.topic.v1.messagePublished
          event_trigger_pubsub_topic: ${{ matrix.function-spec.pubsub_topic }}
          # https://cloud.google.com/functions/docs/runtime-support#go
          runtime: go124
          environment_variables: GCP_PROJECT=k0swe-kellog
