name: Deploy
on: workflow_dispatch

jobs:
  deploy-func-go:
    uses: k0swe/forester/.github/workflows/deploy-func-go.yml@main
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  deploy-func-js:
    uses: k0swe/forester/.github/workflows/deploy-func-js.yml@main
    secrets:
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

  deploy-web:
    uses: k0swe/forester/.github/workflows/deploy-web.yml@main
    secrets:
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

  notify:
    runs-on: ubuntu-latest
    needs: [deploy-func-go, deploy-func-js, deploy-web]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Tag as deployed
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          git tag deployed --force
          git push --tags --force

      - name: Google Chat Notification
        uses: Co-qn/google-chat-notification@v1
        with:
          name: Forester Deploy
          url: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
          status: ${{ job.status }}
        if: always()
