name: "{Reusable} Test Web"
on: workflow_call

defaults:
  run:
    working-directory: web

jobs:
  test-web:
    name: Build and test Web
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Cache node deps
        uses: actions/cache@v5
        env:
          cache-name: cache-web-node-deps
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('web/package-lock.json') }}

      - name: Cache emulator
        uses: actions/cache@v5
        env:
          cache-name: cache-firebase-emulator
        with:
          path: /home/runner/.cache/firebase/emulators
          key: ${{ runner.os }}-${{ env.cache-name }}

      - name: Cache build artifacts
        uses: actions/cache@v5
        env:
          cache-name: cache-web-build-artifacts
        with:
          path: web/dist/
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ github.sha }}

      - name: Install npm deps
        run: npm ci

      # - name: Test
      #   run: npm run test-ci

      - name: Compile
        run: npm run build-prod
