name: "{Reusable} Test Firestore Rules"
on: workflow_call

defaults:
  run:
    working-directory: firestore

jobs:
  test-firestore:
    name: Test Firestore Rules
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Cache node deps
        uses: actions/cache@v4
        env:
          cache-name: cache-firestore-node-deps
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('firestore/package-lock.json') }}

      - name: Cache emulator
        uses: actions/cache@v4
        env:
          cache-name: cache-firebase-emulator
        with:
          path: /home/runner/.cache/firebase/emulators
          key: ${{ runner.os }}-${{ env.cache-name }}

      - name: Install npm deps
        run: npm ci

      - name: Test
        run: npm run test
