name: "{Reusable} Test Firestore Rules"
on: workflow_call

defaults:
  run:
    working-directory: firestore

jobs:
  test-firestore:
    name: Test Firestore Rules
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache node deps
        uses: actions/cache@v5
        env:
          cache-name: cache-firestore-node-deps
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('firestore/package-lock.json') }}

      - name: Cache emulator
        uses: actions/cache@v5
        env:
          cache-name: cache-firebase-emulator
        with:
          path: /home/runner/.cache/firebase/emulators
          key: ${{ runner.os }}-${{ env.cache-name }}

      - name: Install npm deps
        run: npm ci

      - name: Test
        run: npm run test
