name: "{Reusable} Update Go Function dependencies"
on:
  workflow_call:
    secrets:
      GH_PAT:
        required: true

defaults:
  run:
    working-directory: functions/go-func/

jobs:
  update-go-func:
    name: Update Go Function dependencies
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          # https://cloud.google.com/functions/docs/runtime-support#go
          go-version: 1.25.x

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Update Go dependencies
        run: |
          go get -u
          go mod tidy

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: "${{ secrets.GH_PAT }}"
          add-paths: "functions/go-func/go.*"
          commit-message: go get -u
          title: go get -u
          branch: update-go-func
          author: "github-actions <github-actions@github.com>"
