name: "{Reusable} Update Web dependencies"
on:
  workflow_call:
    secrets:
      GH_PAT:
        required: true

defaults:
  run:
    working-directory: web

jobs:
  update-web:
    name: Update Web dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Cache node deps
        uses: actions/cache@v5
        env:
          cache-name: cache-web-node-deps
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('web/package-lock.json') }}

      - name: npm update
        run: |
          npx npm-check-updates -u -x typescript,eslint
          npm install -f
          npm update
          npm install

      - name: Update license report
        run: npm run license-report

      - name: Format license report
        run: npx prettier --write src/assets/license-report.json

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: "${{ secrets.GH_PAT }}"
          add-paths: |
            web/package*.json
            web/src/assets/license-report.json
          commit-message: npm update (web)
          title: npm update (web)
          branch: update-web
          author: "github-actions <github-actions@github.com>"
